<?xml version="1.0"?>
<hive name="Example Job" default="Run Me" xmlns="http://tempuri.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <job name="Run Me" retry="1" threads="1" enabled="true">
    <message>Hello world!</message>   
  </job>

  <job name="Run You" retry="1" threads="1" enabled="true">
    <message>Hello world!</message>
  </job>

  <job name="Run Anything" retry="1" threads="1" enabled="true">
    <message>Hello world!</message>
  </job>

</hive>
